<form action="/articles" method="POST">
    <ul>
        <li>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </li>
        <li>
            <label for="content">Content</label>
            <textarea type="text" id="content" name="content">
        </li>
    </ul>
    <input type="submit"/>
</form>