<h1>Create an Article!</h1>

<form class="create-article-form" method="POST" action="/articles">
    <label for="title">Article Title:</label>
        <input type="text" id="title" name="title" placeholder="Article Title Goes Here"><br><br>
    <label for="content">Article Content:</label>
        <textarea rows="4" cols="50"  id="content" name="content" placeholder="Content Goes Here"></textarea><br><br>

    <input type="submit" id="submit" value="Submit My Article">
</form> -->